# general
.DS_Store
/target
.env

# data
/data/*
!/data/qa/
/data/qa/*
/data/qa/reports/
/cache

# PDF summarizers
/summarizers/**/report_original.pdf
/summarizers/**/adopted_text_original.pdf
/summarizers/**/report_extraction.html
/summarizers/**/adopted_text_extraction.html

**/__pycache__/